@model IEnumerable<LibraryMVC.Domain.Entities.User>
@{
    ViewData["Title"] = "Activation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <h2>Choose user, whose status you want to change.</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{var index = 1; }
            @foreach(var user in Model)
            {
            <tr>
                <td>@(index++)</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                @if (user.Status == LibraryMVC.Domain.Entities.Status.Active)
                {
                    <td>@Html.ActionLink("Deactivate", "Deactivation", "User", new { userId = user.ID})</td>
                }
                @if (user.Status != LibraryMVC.Domain.Entities.Status.Active)
                {
                    <td>@Html.ActionLink("Activate", "Activation", "User", new { userId = user.ID})</td>
                }

            </tr>
            }
        </tbody>
    </table>





