@model IEnumerable<LibraryMVC.Domain.Repositories.UserWithBorrowedBooks>
@{
    ViewData["Title"] = "Book loan histor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Book loan history</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Title</th>
            <th>Author</th>
            <th>Borrow date</th>
            <th>Return date</th>
            <th>Borrowing user</th>
        </tr>
    </thead>
    <tbody>

        @{int index = 1;}
        @foreach (var u in Model)
        {


            @foreach (var b in u.BorrowedBooks)
            {
                <tr>
                    <td>@(index++)</td>
                    <td>@b.Book.Name</td>
                    <td>@b.Book.Author</td>
                    <td>@b.DateOfBorrow</td>
                    <td>@b.DateOfReturn</td>
                    <td>@u.User.FirstName @u.User.LastName</td>
                </tr>
            }



        }




</table>