@model LibraryMVC.Controllers.SelectBookViewModel
@{
    ViewData["Title"] = "Select Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Choose the book</h3>
@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString") <input type="submit" value="Filter" />
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 1;}
        @foreach (var book in Model.AvailableBooks)
        {
            <tr>
                <td>@(a++)</td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>
                    @if (book.NumberAvailableBooks > 0)
                    {
                        @book.NumberAvailableBooks;
                    }
                </td>
                <td>
                    <a href="@Url.Action("BorrowBook", "BorrowBook", new { bookId = book.BookId, forUserId = Model.UserId })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Borrow</a>
                </td>
                <td>
                    <a href="@Url.Action("SelectUser", "BorrowBook", new { book.BookId })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Back</a>
                </td>
            </tr>
        }
    </tbody>
</table>

