@model IEnumerable<LibraryMVC.Domain.Repositories.UserWithBorrowedBooks>
@{
    ViewData["Title"] = "SelectBorrowingUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wybierz użytkownika</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wypożyczone książki</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 1;}
        @foreach (var user in Model)
        {
            <tr>
                <td>@(a++)</td>
                <td>@user.User.FirstName</td>
                <td>@user.User.LastName</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rozwiń ksiązki
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            
                                @foreach (var book in user.BorrowedBooks)
                                {
                                    <a class="dropdown-item" href="@Url.Action("ReturnBook", "BorrowBook", new { borrowedBookId = book.ID})">

                                        <span>@book.Book.Name</span><br />

                                    </a>
                                }
                        </div>

                </td>

            </tr>
        }
    </tbody>
</table>