@model IEnumerable<LibraryMVC.Domain.Models.User>
@{
    ViewData["Title"] = "SelectUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Wybierz użytkownika</h2>
<p>Uwaga - możesz wybrać tylko użytkownika aktywnego. Jeśli chcesz aktywować użytkownika kliknij przycisk Aktywuj.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 1;}
        @foreach (var user in Model)
        {
            <tr>
                <td>@(a++)</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    @if (user.IsActive)
                    {
                        <span>Aktywny</span>
                    }
                    @if (!user.IsActive)
                    {
                        <span>Nieaktywny</span>
                    }
                </td>
                <td>
                    @if (user.IsActive)
                    {
                        <a href="@Url.Action("SelectBook", "BorrowBook", new { forUserId = user.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Wybierz</a>
                    }
                    @if (!user.IsActive)
                    {
                        <a href="@Url.Action("Edit", "User", new { user.ID })" class="btn btn-primary">Aktywuj</a>
                    }                   

                </td>
            </tr>
        }
    </tbody>
</table>

