@model IEnumerable<LibraryMVC.Domain.Queries.GetUsersQueryRow>
@{
    ViewData["Title"] = "Select User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Choose the user</h2>
<p>Note - you can choose only active user. If you want to activate the user, please press the button 'activate'.</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString") <input type="submit" value="Filter" />
    </p>
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.ActionLink("Name", "SelectUser", new { sortBy = ViewBag.FirstNameSortParm })</th>
            <th>@Html.ActionLink("Surname", "SelectUser", new { sortBy = ViewBag.LastNameSortParm })</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 1;}
        @foreach (var user in Model)
        {
            <tr>
                <td>@(a++)</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    @if (user.Status == LibraryMVC.Domain.Entities.Status.Active) {<span>Active</span>}
                    @if (user.Status == LibraryMVC.Domain.Entities.Status.Inactive) {<span>Inactive</span>}
                </td>
                <td>
                    @if (user.Status == LibraryMVC.Domain.Entities.Status.Active)
                    {
                        <a href="@Url.Action("SelectBook", "BorrowBook", new { forUserId = user.UserId })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Choose</a>
                    }
                    @if (user.Status == LibraryMVC.Domain.Entities.Status.Inactive)
                    {
                        <a href="@Url.Action("Edit", "User", new { Id = user.UserId })" class="btn btn-primary">Activate</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

