@model LibraryMVC.Domain.Models.Book
@using LibraryMVC
@{
    ViewData["Title"] = @Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detale książki</h2>
<p>
    @Html.DisplayFor(model => model.Description)
</p>
<img src="@Html.ToBase64Image(Model.Image)" />

<a href="@Url.Action("List", "Books")" class="btn btn-warning"><span class="glyphicon glyphicon glyphicon-hand-left" aria-hidden="true"></span> Powrót</a>

    @if (Model.Description == null)
    {<a href="@Url.Action("AddDescription", "Book", new { Model.ID })" class="button">Dodaj opis</a> }
    else
    { <a href="@Url.Action("AddDescription", "Book", new { Model.ID })" class="button">Edytuj opis</a>}
    <a href="@Url.Action("AddImage", "Book", new { Model.ID })" class="button">Dodaj obraz</a>


