@model LibraryMVC.Controllers.UserViewModel

@{
    ViewData["Title"] = "Użytkownik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.User.NickName</h2>
<dt>
    Imię:
</dt>
<dd>
    @Html.DisplayFor(model => model.User.FirstName)
</dd>
<dt>
    Nazwisko:
</dt>
<dd>
    @Html.DisplayFor(model => model.User.LastName)
</dd>
<dt>
    Status:
</dt>
<dd>
    @if (Model.User.IsActive)
    {
        <p>Aktywny</p>
    }
    @if (!Model.User.IsActive)
    {
        <p>Nieaktywny</p>
    }
</dd>
<dt>
    Obecnie wypożyczone książki:
</dt>
<dd>
    @foreach(var book in Model.BorrowedBooks)
    {
    @book.Name<br/>
    }
</dd>

<div>
    @Html.ActionLink("Wróć", "List", "Users")
</div>
