@model IEnumerable<LibraryMVC.Domain.Entities.Book>

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Author</th>
                <th>Number of available books</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{int index = 1; }
            @foreach (var book in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.NumberAvailableBooks</td>
                <td>
                    <a href="@Url.Action("Delete", "Book", new { book.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>

