@model IEnumerable<LibraryMVC.Domain.Entities.Book>
@{
    ViewData["Title"] = "List";

}

<h2>List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Autor</th>
            <th>Ilość dostępnych sztuk</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int a = 1;}
        @foreach (var book in Model)
        {
            <tr>   
                <td>@(a++)</td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.NumberAvailableBooks</td>
                <td>
                    <a href="@Url.Action("View", "Book", new { book.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Podgląd</a>
                    <a href="@Url.Action("Edit", "Book", new { book.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Edytuj</a>
                    <a href="@Url.Action("Delete", "Book", new { book.ID })" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>