<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryMVC</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            var message = "Wróć do mnie!!";
            var original;

            $(window).focus(function () {
                if (original) {
                    document.title = original;
                }
            }).blur(function () {
                var title = $('title').text();
                if (title != message) {
                    original = title;
                }
                document.title = message;
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">LibraryMVC</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Książki <span class="sr-only">(current)</span></a></li>
                    <li>@Html.ActionLink("Lista książek", "List", "Books")</li>
                    <li>@Html.ActionLink("Dodaj", "Add", "Books")</li>
                    <li>@Html.ActionLink("Wypożycz", "SelectUser", "BorrowBook")</li>
                    <li>@Html.ActionLink("Zwróć", "SelectBorrowingUser", "BorrowBook")</li>
                    <li>@Html.ActionLink("Historia wypożyczeń", "BorrowingHistory", "BorrowBook")</li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Użytkownicy <span class="sr-only">(current)</span></a></li>
                    <li>@Html.ActionLink("Lista użytkowników", "List", "Users")</li>
                    <li>@Html.ActionLink("Dodaj", "Add", "Users")</li>
                    <li>@Html.ActionLink("Dezaktywyj/Aktywuj", "Activation", "Users")</li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10 main">
                <h1 class="page-header">@ViewData["Title"]</h1>
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; 2018 - LibraryMVC</p>
        </footer>

    </div>
</body>
</html>
