<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryMVC</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function () {
            var message = "Wróć do mnie!!";
            var original;

            $(window).focus(function () {
                if (original) {
                    document.title = original;
                }
            }).blur(function () {
                var title = $('title').text();
                if (title != message) {
                    original = title;
                }
                document.title = message;
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")" class="navbar-brand">LibraryMVC</a></li>
                    <li><a href="@Url.Action("Index", "Home")">Strona główna</a></li>
                    <li><a href="@Url.Action("About", "Home")">O nas</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Kontakt</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial");
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                
                <ul class="nav nav-sidebar">
                    <li class="sidebar-header">Książki</li>
                    <li class="sidebar-item active">@Html.ActionLink("Lista książek", "List", "Books")</li>
                    <li class="sidebar-item active">@Html.ActionLink("Dodaj", "Add", "Books")</li>
                    <li class="sidebar-item active">@Html.ActionLink("Wypożycz", "SelectUser", "BorrowBook")</li>
                    <li class="sidebar-item active">@Html.ActionLink("Zwróć", "SelectBorrowingUser", "BorrowBook")</li>
                    <li class="sidebar-item active">@Html.ActionLink("Historia wypożyczeń", "BorrowingHistory", "BorrowBook")</li>
                    <li li class="sidebar-header">Użytkownicy</li>
                    <li class="sidebar-item active">@Html.ActionLink("Lista użytkowników", "List", "Users")</li>
                    <li class="sidebar-item active">@Html.ActionLink("Dodaj", "Add", "Users")</li>
                    <li class="sidebar-item active">@Html.ActionLink("Dezaktywyj/Aktywuj", "Activation", "Users")</li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10 main">
                
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; 2019 - LibraryMVC</p>
        </footer>

    </div>
</body>
</html>
